* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    padding: 20px;
}

section {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    align-items: center;
    border-radius: 10px;
}

h1 {
    font-size: clamp(2em, 5vw , 3em);
    color: white;
}

p {
    font-size: 1em;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

.input-wrap {
    display: flex;
    gap: 0.5em;
    width: 100%;
    min-width: 250px;
    max-width: 768px;
}

input {
    padding: 1em 2em;
    flex: 1;
    border-radius: 50px;
    background-color: #404040;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
}

input::placeholder {
    color: rgb(152, 152, 152);
}

button {
    padding: 0.5em 1em;
    white-space: wrap;
    position: relative;
    border-radius: 50px;
    border: 1px solid #c7c7c7;
    background-color: #656565;
    color: #c0c0c0;
}

li {
    background-color: #535353;
    color: #c7c6c6;
}



